
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ValidationSummary()
<form action="" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name"/>
    <input type="text" name="Username" class="form-control" placeholder="Username"/>
    <input type="password" name="Password" class="form-control" placeholder="Password"/>
    <input type="password" name="ConfPass" class="form-control" placeholder="Confirm Password"/>
    <input type="submit" value="Register" class="btn btn-primary" />
</form>

