
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="text" name="Email" placeholder="Email" class="form-control" />
    <input type="text" name="Address" placeholder="Address" class="form-control" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>
